  @media  (max-width: 600px) {
    body {
        background-color: lightblue;
        }
}

#navbar{
    background-color: #d2d7f5;
    padding: 5px 0px;
    position: fixed;
    width: 100%;
    top:47px;
}

.logo-image{
    margin: 0;
    width:100%;
    position: fixed;
    background-color: #b6c0f8;
    top: 0;
    font-family: monospace;
    
}

#there
{
    padding-bottom: 20px;
}

body
{
    margin: 0;
    padding: 0;
    background: rgb(205,252,238);
    background: radial-gradient(circle, rgb(159, 196, 185) 0%, rgba(124,174,233,1) 100%);
}
div{
    margin:10% 20% ;
}
   
#nav-list{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
} 


.nav-link{
    padding: 40px 16px;
    display: inline;
    text-align: center
    
}

a:link {
    color: #17203f;
    text-decoration: none;
  }
a:visited {
    color:  #17203f;
  }
  a:hover {
    color: #8b2b87;
  }
  a:active {
    color: #309649;
  }
#welcome{
    padding-bottom: 10px;
}
.main-idea{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
p{
    padding-bottom: 10px;
}

header{
    font-size: 35px;
    font-style: oblique;
    font-family:fantasy; 
}
.main-link{
    background-color: #993f3f;
    padding: 20px 16px;
    text-decoration: none;
    display: inline;
    text-align: center
}
.smaller{
    font-size:75%;
}

.actor-img{
    height: 100px;
}
.actor-gif{
    float: right;
    height:200px;
}
.author {
    padding: 0 10%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 13px;
    color: #0e411a;
}