#navbar{
    background-color: #d2d7f5;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    width: 100%;
}

body
{
    margin: 0;
    padding: 0;
    background: rgb(205,252,238);
    background: radial-gradient(circle, rgba(205,252,238,1) 0%, rgba(124,174,233,1) 100%);
}
div{
    margin:10% 20% ;
}
   
#nav-list{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
} 


.nav-link{
    padding: 50px 16px;
    display: inline;
    text-align: center
    
}

a:link {
    color: #17203f;
    text-decoration: none;
  }
a:visited {
    color:  #17203f;
  }
  a:hover {
    color: #8b2b87;
  }
  a:active {
    color: #309649;
  }
#welcome{
    padding-bottom: 10px;
}
.main-idea{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
p{
    padding-bottom: 10px;
}

header{
    font-size: 35px;
    font-style: oblique;
    font-family:fantasy; 
}
.main-link{
    background-color: #993f3f;
    padding: 25px 16px;
    text-decoration: none;
    display: inline;
    text-align: center
}